<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>Persona | Minimal Resume</title>

	<!-- Behavioral Meta Data -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="http://surveygizmolibrary.s3.amazonaws.com/library/650781/square_logo.ico" type="image/x-icon">
	<!-- Core Meta Data -->
	<meta name="author" content="Aether-Themes">
	<meta name="description" content="Persona. Minimal resume and CV landing page.">
	<meta name="keywords" content="template,CV,resume,landing page,minimal,responsive,html5,css3,jquery">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Apple Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57-precomposed.png">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/framework.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	
	<!-- Colors -->
	<link rel="stylesheet" type="text/css" href="css/colors/ruby-red.css" media="screen">
	<!-- <link rel="alternate stylesheet" type="text/css" href="css/colors/aqua-blue.css" media="screen"> -->
	<!-- <link rel="alternate stylesheet" type="text/css" href="css/colors/mint-green.css" media="screen"> -->
	 <link rel="alternate stylesheet" type="text/css" href="css/colors/rose-pink.css" media="screen"> 
	<!-- <link rel="alternate stylesheet" type="text/css" href="css/colors/sunflower-yellow.css" media="screen"> -->

	<!-- Javascript -->
	<script src="js/modernizr.js"></script>
	<script src="js/jquery.js"></script>
</head>
<body>


<div class="hw-top">
						<h1 class="col text-center" id="app-title">Instant Teacher Feedback</h1>
						<a class="mouse-scroll" href="#"></a>
			</div>

<div class="col text-center mx-auto px-2 target-user-hw">

				<div class="margins-div"><br />
					 <h1 id="target-user">Target User<br /><br /></h1>
					 <p class="primary-users-bit">The primary users are primarily teachers or providers of training, either in the higher education sector, or those who are operating as freelancers</p>
					 <h1 id="goal">Goal</h1>
					 <p class="primary-goals">The goal of this app was to provide a solution for expediting a major part of the teacher workload. A typical day for most teachers is typically eaten up by meetings, new intiatives, and special projects, leaving little time to focus on the core business of students. This would allow teachers to spend more energy and time on preparing better lecturers and providing direct feedback  </p>
					 <h1 id="role">My Role</h1>
					 <p class="my-role">UX/UI Designer & Researcher</p>
				</div><!--margins-div--> 

			</div><!--target-users-rectangle--> 

			<div class="col-12 text-center mx-auto px-2 skills-image">
				<img class='img-fluid' src='images/skills.png'> 
				<div class="margins-div">
					 <h1 id="target-user">Summary<br /><br /></h1>
					 <p class="primary-users-bit">Most teachers feel that their workloads have reached a point where, in order to do their jobs well, shortcuts have to be made. And because much of this new work often comes in the form of paperwork, focus on the needs of students is often the first thing that is sacrificed. </p>
					
					 <br /> 
					 <p class="primary-goals">Through the process of developing this app, it was discovered that this app would solve two problems: improve the teacher's use of time as well as providing students with faster turnaround times on their submissions. In this case, students would at least be able to have some initial feedback on their assignments. 

					 <br />
					  </p>
					 
				</div><!--margins-div--> 
			</div>

			<div class="col-12 text-center mx-auto px-2">
			<br /> 
				<hr id="line">
					<h2 id="process">Process</h2>
				<hr id="line"> 

				<br /> 
				<h1 id="target-user">Research</h1>
				<img class= 'mx-auto d-block' src='images/research-image.png'> 
					<div class="margins-div">
					 <p class="primary-users-bit">Research began by looking at some of the existing technology that existed on the market for teachers. From there, it didn't take long to see that there are a number of tools that are available on the market, but nothing that would provide specific solutions around marking, the major contributor to administrative tasks and workload stress. <br /> 
 						<br /> 

 					From there, I held interviews with six different teachers across the School of Communication & Design at a university in Vietnam. In those interviews, teachers had reported that they tend to avoid a lot of tools because of the perception that the use of phones tends to be a detriment to classroom experience, but also the fact that most tools actually create more work for them, not less. 

 					So with that, four out of six teachers replied that they would only use a tool like this if it was simple and fast to use, and that it would in fact make a part of their job easier. 

 					During this phase of the research, I also sat with two of the teachers and actually observed the way that they were currently handling the marking task, which almost immediately revealed a very mechanical, very paper-shifting type of approach. 

 					So after showing them the concept I had many of them were interested. 
					 </p>
					 <br /> 
					 
				</div><!--margins-div--> 
			</div><!--line-process--> 

			<div class="col-12 text-center mx-auto px-2">
				<h1 id="target-user">Strategy</h1>
				<img class= 'mx-auto d-block' src='images/strategy.png'> 
				<div class="margins-div">
					 <p class=" primary-users-bit">With all this research and useful information from teachers, there were several personas that could have been chosen. The best thing to do then was to look at the clusters of charateristics from each of them to develop a unifying persona. Here is what came out: </p>
					 <br /> 
				<img class='img-fluid' src='images/hw-persona.png' style="box-shadow: 0px 3px 15px rgba(0,0,0,0.2);"> 
					<br /> <br /> 
				
					<p class=" primary-users-bit">From there, we began the work of looking at how the layout of the user experience would begin with the initial steps into the Information Architecture. Given that the primary mandate from teachers was that it had to be easy to use and have obvious value add to their jobs,  much of site was built with global navigation that could allow the user to revert or navigate around the app with little confusion or thought.  </p> <br /> 

					<h2 id="process">User Flow</h2>
					
					<img class="img-fluid" src="images/hw-userflow.png"  style= "box-shadow: 0px 3px 15px rgba(0,0,0,0.2);">
					<p class="primary-users-bit">What we can derive from this flow is simple: users are going to be able to find the work that needs marking without navigating the page, but if they want to, they are completely free to pass through all the courses and current assignments if they wish; this provides them with maximum flexibility.</p> <br /> 
				</div><!--margins-div--> 
			</div><!--col mx-auto--> 

			<div class="col-12 text-center mx-auto px-2">
					<h1 id="target-user">Interaction & UI Design</h1>
					<img class='img-fluid' src='images/interaction.png'>
				<div class="margins-div">
					 <p class=" primary-users-bit"></p>
					 <br /> 
					 <p class="primary-users-bit">Getting the initial wireframes up took longer than we thought, as we had to consider not only the user flow, but what would be the most convenient path for our main stakeholders who were still on the fence about adopting this product.In the end,however, this is what we came up with.</p>
					 <br /> 
					 

					 <br /> 
					
					<br /> 
				
				</div><!--margins-div--> 
			</div><!--col--> 

		<div class="col-12 text-center mx-auto px-2">
			<h2 id="target-user">Initial Wireframes</h2> <br /> 
		</div>

			<div class="row">
				<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
						<img class='mx-auto d-block mb-3' src='images/hw-tracker-welcome.png' style="box-shadow: 0px 3px 15px rgba(0,0,0,0.2);"> 
				</div>
			<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">		
					<img class='mx-auto d-block mb-3' src= "images/hw-tracker-course.png" style="box-shadow: 0px 3px 15px rgba(0,0,0,0.2);"> 
			</div>
			</div><!--row-->

			<div class="row">

			<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<img class='mx-auto d-block mb-3' src='images/hw-tracker-assignment.png' style="box-shadow: 0px 3px 15px rgba(0,0,0,0.2);"> 
			</div>
			<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<img class='mx-auto d-block mb-3' src="images/hw-tracker-assignment-check.png" style="box-shadow: 0px 3px 15px rgba(0,0,0,0.2);">	
			</div>

			</div><!--row-->

			
			<div class="col-12 text-center mx-auto px-2 pt-3">
				<h1 id="target-user">UI First Iteration</h1>
			</div>

			<div class="row">
				<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<img class='mx-auto d-block mb-3' src='images/hw-waiting-feedback.png'> 
				</div>
				<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<img class='mx-auto d-block' src='images/hw-student.png'> 
				</div>
			</div><!--row-->
			

			


			<div class="col-12 text-center mx-auto px-2">
				<h1 id="target-user">UI Improvements</h1> 
			</div>

			<div class="row">
				<div class="col text-center">
					<img class='mx-auto d-block mb-3' src='images/new-pack-Recovered.png' style = 'position:relative; bottom: 100px;'> 
				</div>
			</div><!--row-->
			<div class="row">
				<div class="col text-center">
					<img class='mx-auto d-block mb-3' src='images/new-layer.png' style='position:relative; bottom: 100px;'> 
				</div>
			</div><!--row-->
			
			


			

			<div class="col-12 text-center mx-auto px-2 line-process">
				<h1 id="target-user">Usability and Prototyping</h1>
				<div class="margins-div">
					<p class=" primary-users-bit">Usability Testing confirmed our belief at this point: we had built something that made sense to the user and was easy to use. Earlly iterations of the testing were a little bit rought, but much of that was due to the fact that users were not that familiar with low-fidelity mockups of the site, so there was some basic issues with navigation. Prototyping is also an area people are not that used to as well, so getting a feel for the limitations of a site such as that was also a consideration. You can find more information about the prototype <span><a href= 'https://invis.io/MWPA5AUUDNQ'> here.</a></span>

					  </p><br />
				</div>
			</div><!--col--> 

			<div class="col-12 text-center mx-auto px-2 line-process">
				<h1 id="target-user">Reflection</h1>
				<div class="margins-div">
					<p class=" primary-users-bit">
					This is a very usable product for Educators. I think that early adopters would be keen to find ways to save time, but getting further on board will probably take some marketing to attract the attention to the users. Beyond reducing workloads, I think that this also has a very practical application for freelancers that should be looked at closely. 

					</p> <br />
				</div>
			</div><!--col-->
		<script src="js/works.js"></script>
	</body>
	</html>



	 
	

